# Default relay for reading content
VITE_DEFAULT_RELAY=wss://swarm.hivetalk.org

# Publishing relays (comma-separated)
VITE_PUBLISH_RELAYS=wss://swarm.hivetalk.org,wss://relay.damus.io,wss://relay.primal.net,wss://nos.lol

# Master pubkey that can manage other admin roles
VITE_MASTER_PUBKEY=3878d95db7b854c3a0d3b2d6b7bf9bf28b36162be64326f5521ba71cf3b45a69

# Remote nostr.json for admin authentication
VITE_REMOTE_NOSTR_JSON_URL=https://honey.hivetalk.org/.well-known/nostr.json

# # Additional read/write relays
# VITE_READ_RELAY_1=wss://relay.damus.io
# VITE_READ_RELAY_2=wss://relay.primal.net
# VITE_READ_RELAY_3=wss://nos.lol
